@import './constants';
$tooltipPos: calc(100% + 15px);

.sidebar {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 78px;
	background: $secondaryColor;
	padding: 6px 14px;
	z-index: 99;
	transition: all 0.5s ease;
	.logo-details {
		height: 60px;
		display: flex;
		align-items: center;
		position: relative;
		.icon {
			opacity: 0;
			transition: all 0.5s ease;
		}
		.logo-name {
			color: $primaryTextColor;
			font-size: 20px;
			font-weight: 600;
			opacity: 0;
			transition: all 0.5s ease;
		}
		#btn {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			font-size: 23px;
			text-align: center;
			cursor: pointer;
			transition: all 0.5s ease;
		}
	}
	i {
		color: $primaryTextColor;
		height: 60px;
		min-width: 50px;
		font-size: 28px;
		text-align: center;
		line-height: 60px;
	}
	.nav-list {
		margin-top: 20px;
		height: 100%;
	}
	li {
		position: relative;
		margin: 8px 0;
		list-style: none;
		a {
			display: flex;
			height: 100%;
			width: 100%;
			border-radius: 12px;
			align-items: center;
			text-decoration: none;
			transition: all 0.4s ease;
			background: $secondaryColor;
			.link-name {
				color: $primaryTextColor;
				font-size: 15px;
				font-weight: 400;
				white-space: nowrap;
				opacity: 0;
				pointer-events: none;
				transition: 0.4s;
			}
		}
		i {
			height: 50px;
			line-height: 50px;
			font-size: 22px;
			border-radius: 12px;
		}
		.tooltip {
			position: absolute;
			top: 10px;
			left: calc(100% + 30px);
			z-index: 3;
			padding: 6px 12px;
			border-radius: 4px;
			font-size: 15px;
			font-weight: 400;
			opacity: 0;
			white-space: nowrap;
			pointer-events: none;
			transition: 0s;
		}
		&:hover {
			.tooltip {
				opacity: 1;
				pointer-events: auto;
				transition: all 0.6s ease;
				left: $tooltipPos;
				transform: translateX(-$tooltipPos);
				color: $primaryTextColor;
			}
		}
		.app-details {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
		}
		.logo {
			height: 45px;
			width: 45px;
			font-size: 45px;
			object-fit: cover;
			border-radius: 6px;
			margin-right: 10px;
		}
	}
	li.app-info {
		position: fixed;
		height: 60px;
		width: 78px;
		left: 0;
		bottom: -8px;
		padding: 10px 14px;
		background: $secondaryColor;
		transition: all 0.5s ease;
		overflow: hidden;
		.name {
			font-size: 15px;
			font-weight: 400;
			color: $primaryTextColor;
			white-space: nowrap;
		}
		.developer {
			font-size: 15px;
			font-weight: 400;
			color: $primaryTextColor;
			white-space: nowrap;
			font-size: 12px;
		}
	}
	.app-info {
		#log_out {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: $secondaryColor;
			width: 100%;
			height: 60px;
			line-height: 60px;
			border-radius: 0px;
			transition: all 0.4s ease;
		}
	}
}
.sidebar.open {
	width: 250px;
	.logo-details {
		.icon {
			opacity: 1;
		}
		.logo-name {
			opacity: 1;
		}
		#btn {
			text-align: right;
		}
	}
	li {
		a {
			.link-name {
				opacity: 1;
				pointer-events: auto;
			}
		}
		.tooltip {
			display: none;
		}
	}
	li.app-info {
		width: 250px;
	}
	.app-info {
		#log_out {
			width: 50px;
			background: none;
		}
	}
}
@media (max-width: 420px) {
	.sidebar {
		li {
			.tooltip {
				display: none;
			}
		}
	}
}