section {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section #particles {
  position: absolute;
  z-index: -1;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.album-container {
  position: relative;
  max-width: 860px;
  width: 100%;
  -webkit-perspective: 1600px;
          perspective: 1600px;
}

.album-container:after {
  content: '';
  display: block;
  padding-top: 100%;
}

.album-container:hover .album {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.album-container .album {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-perspective: 1600px;
          perspective: 1600px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
          box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.album-container .album div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.album-container .album .frontside img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.album-container .album .backside {
  background: rgba(0, 0, 0, 0.9);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.album-container .album .backside div {
  position: relative;
}

.album-container .album .backside .track-details ul {
  -webkit-column-count: 2;
          column-count: 2;
}

.album-container .album .backside .track-details li.current {
  color: #A72693;
}

.album-container .album .backside .track-details li.current .duration {
  color: #A72693;
}

.album-container .album .backside .track-details li .duration {
  color: #cccccc;
}

.album-container .album .backside .album-details {
  text-align: end;
}

.album-container .album .backside .album-details h1 {
  font-size: 38px;
}
/*# sourceMappingURL=index.css.map */